<div class="bookingForm ">
  <%= simple_form_for experience, html: { class: "bookingForm__form"} do |f| %>
  <h2 class="bookingForm__title">Share your life experiences and make people's dream come <span class="secondary-color">true.</span></h2>
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <div class="bookingForm__column">
          <%= f.file_field :photo %>
          <h1>               </h1>
          <%= f.input :activity %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.input :description %>
          <%= f.input :price %>

        </div>
      </div>
    </div>
    <%= f.submit :class => 'button-primary' %>
  </div>
  <% end %>
</div>




