<div class="card">
  <%= link_to experience_path(experience) do %>
  <div class="card__img" style="background-image: url('<%= cl_image_path experience.photo.key %>')">
    <div class="card__title">
      <%= experience.activity %>
    </div>
  </div>
  <% end %>
  <div class="card__info">
    <div class="card__place">
      <%= experience.place %>
    </div>
    <div class="card__price">
      <%= experience.price %>,00€
    </div>
    <div class="card__description">
      <%= experience.description %>
    </div>
    <div class="card__date">
      <%= experience.start_date %>
    </div>
    <div class="card__date">
      <%= experience.end_date %>
    </div>
    <div class="card__rating">
      <span class="card__icon"><%= icon('fas', 'star', class: 'strong') %></span>
      4.9<span class="soft-text">(293)</span>
    </div>
  </div>
  <div class="card__bottom">
    <%= link_to "Live it", experience_path(experience), class: "card__cta" %>
  </div>
</div>
