<div class="card">
 <div class="row">
  <div class="">
    <%= link_to experience_path(experience) do %>
      <%= cl_image_tag experience.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="">
    <div class="card__title">
      <%= link_to experience_path(experience) do %>
        <%= experience.activity %>
      <% end %>
    </div>

      <div class="card__place">
        <%= experience.place %>
      </div>
      <div class="card__activity">
        <%= experience.activity %>
      </div>
      <div class="card__price">
        <%= experience.price %>,00€
      </div>
      <div class="card__description">
          <%= experience.description %>
        </div>
      <div class="card__rating">
        <span class="card__icon"><%= icon('fas', 'star', class: 'strong') %></span>
        4.9<span class="soft-text">(293)</span>
      </div>
  </div>


</div>
  <%= link_to "Book now", new_experience_booking_path(experience), class: "card__cta" %>
</div>
