<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://d19m59y37dris4.cloudfront.net/directory/1-4/img/photo/photo-1501621965065-c6e1cf6b53e2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 offset-sm-1">
        <%= render 'shared/form', experience: @experience %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container mb-5">
    <%= render 'shared/titleSubtitle', title: 'Latests experiences', subtitle: 'The best life experiences you can find, ', subtitle_important: 'worldwide' %>
    <div class="row my-4">
      <% @experiences.last(4).each do |experience| %>
      <div class="col-xs-6 col-sm-3 my-2">
        <%= render 'shared/card', experience: experience %>
      </div>
      <% end %>
    </div>
    <%= link_to "Discover all experiences >>", experiences_path, class: "home__cta" %>
  </div>
  <div class="container mb-5">
    <%= render 'shared/titleSubtitle', title: 'Live your dreams', subtitle: 'Travel to the other part of the world in just a few ', subtitle_important: 'clicks' %>
    <div class="row">
      <div class="col-12">
        <%= render 'shared/bannerSearch' %>
      </div>
    </div>
  </div>
  <div class="container mb-5">
    <%= render 'shared/titleSubtitle', title: 'Top-rated experiences', subtitle: 'The best you can live ', subtitle_important: 'out there' %>
    <div class="row mb-4">
      <% @experiences.sample(4).each do |experience|%>
      <div class="col-xs-4 col-sm-3 my-2">
        <%= render 'shared/card', experience: experience %>
      </div>
      <% end %>
    </div>
    <%= link_to experiences_path, class: "home__cta" do %>
    <div>See the best experiences out there >></div>
    <% end %>
  </div>
</div>
