<div class="wrapper">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="banner -search -show" style="background-image: url('<%= cl_image_path @experience.photo.key %>')");">
          <div class="banner__title"><%= @experience.activity %> in <span class="secondary-color"><%= @experience.place %></span>.
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <div class="experience">
          <%= link_to root_path, class: 'experience__back' do %>
          <%= icon('fas', 'arrow-left') %> Back to
          experiences
          <% end %>
          <div>
            <%= link_to edit_experience_path(@experience), class: 'experience__setting' do %>
            <%= icon('fas', 'edit') %>
            <% end %>
            <%= link_to experience_path(@experience), method: :delete, data: { confirm: "Are you sure?" }, class: 'experience__setting' do %>
            <%= icon('fas', 'trash-alt') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-5">
        <%= render 'shared/titleSubtitle', title: 'The host', subtitle: 'Discover who is your next favorite ', subtitle_important: 'Pickalifer' %>
        <%= render 'shared/userCard', experience: @experience %>
      </div>
      <div class="col-5 offset-2">
        <%= link_to 'create a review', new_experience_review_path(@experience.id), class: 'btn' %>
        <div>
          <% @reviews.each do |review| %>
            <div> Rating:<%= review.rating %></div>
            <div> <%= review.comment %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
