
<div class="row">

  <div class="">

    <%= cl_image_tag @experience.photo, height: 300, width: 400, crop: :fill %>

  </div>

  <div class="">

        <div class="card__title">
          <%= @experience.activity %>
        </div>

      <div class="card__place">
        <%= @experience.place %>
      </div>
      <div class="card__activity">
        <%= @experience.activity %>
      </div>
      <div class="card__price">
        <%= @experience.price %>,00€
      </div>
      <div class="card__description">
          <%= @experience.description %>
        </div>
      <div class="card__rating">
        <span class="card__icon"><%= icon('fas', 'star', class: 'strong') %></span>
        4.9<span class="soft-text">(293)</span>
      </div>
  </div>


</div>

<div class="links btn-group">

     <%= link_to "Back", root_path, class: "btn button-primary" %>
      <%= link_to "Edit", edit_experience_path(@experience), class: "btn button-primary" %>
      <%= link_to "Delete", experience_path(@experience), method: :delete, data: { confirm: "Are you sure?" }, class: "btn button-primary" %>
      <%= link_to "Book now", new_experience_booking_path(@experience), class: "btn button-primary" %>


</div>

